@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Momo+Signature&family=Orbitron:wght@400..900&display=swap');

body {
    margin: 0;
    background: linear-gradient(#868dc4f4, #ceade7f4)
  
}

h1, h2, h3, p {
    color: #e5e7eb;
    text-shadow: 1px 1px 5px black;
}

.hero-content h2 {
    display: inline-block;
    background-color: #1f2022c0;
    padding: 6px 12px;
    border-radius: 8px;
    margin-top: 10px;
    text-align: center;
}

.hero {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:"Momo Signature", cursive;
}

.hero-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


#my_love {
    height: 400px;
    width: 300px;
    border: 5px solid rgba(157, 148, 147, 0.547);
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

#hero-sub {
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    margin-bottom: 0px;
}

.gif {
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gif-img {
    width: 400px;
    border: 5px solid white;
    border-radius: 8px;
    box-shadow: rgba(30, 30, 32, 0.5) 0px 7px 29px 0px;
    background-image: url(img/love.jpg);
    height: 400px;
    background-size: cover;
    margin-bottom: 50px;

}

.gif-title {
    font-size: 40px;
    margin-bottom: 0;
}

.gif-subtitle {
    font-size: 30px;
    margin-top: 5px;
}

.gif-img1:hover {
    background-image: url(img/I\ Love\ You\ GIF.gif);
    background-size: cover;
}

.gif-img2:hover {
    background-image: url(img/I\ Love\ You\ Hearts\ GIF\ by\ Chippy\ the\ Dog.gif);
}
.gif-img3:hover {
    background-image: url(img/I\ Love\ You\ Dogs\ GIF\ by\ Chippy\ the\ Dog.gif);
}
.gif-img4:hover {
    background-image: url(img/Happy\ Love\ Of\ My\ Life\ GIF\ by\ Tonton\ Friends.gif);
}

.gif-space {
    margin-bottom: 50px;
}

.icon {
    width: 30px;
    margin-bottom: 0px;
}

#gif-final {
    width: 800px;
}

#gif-final:hover {
    background-image: url(img/In\ Love\ Cat\ GIF.gif);
}

footer {
    text-align: center;
    font-style: italic;
     margin: 50px 0px;
}

footer a:hover {
    color: white;
    text-shadow: 1px 1px 1px white;
   
}